menu "User display options"

config ZMK_DISPLAY_SHOW_LAYER
    bool "Show layer name on display"
    default y

config ZMK_LAYER_DISPLAY_RELAY
    bool "Relay layer state to left peripheral"
    default n

config ZMK_LAYER_DISPLAY_LEFT_SOURCE
    int "Left peripheral source ID"
    default 0
    depends on ZMK_LAYER_DISPLAY_RELAY

endmenu
